@import "../pages.scss";
@import "../../../../sass/app.scss";

.n-title {
    color: #343A40;
    font-size: 24px;
    letter-spacing: 0.75px;
    line-height: 1.2;
    @extend .font-roboto-normal-bold;
}
