html {
    //  overflow: hidden !important;
    // background-image: url('../assets/bg-main.svg');
    // background-position: center;
    cursor: auto;
}

.absolute {
    position: absolute;
}

.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}

.background-primary {
    background: #007BFF;
    @extend .text-white
}

.background-white {
    background: #FFFFFF;
    color: #343A40;
}

.bottom {
    bottom: 16px;
}

.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.flex-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
}

.font-roboto-normal-bold {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
}

.font-roboto-normal-normal {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
}

.font-roboto-normal-300 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
}

.font-roboto-normal-400 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.font-roboto-normal-500 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
}

.justify-content-between {
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}

.justify-content-start {
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
}

.justify-content-end {
    -webkit-box-pack: end !important;
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
}

.m-0 {
    margin: 0 !important;
}

.n-container {
    padding: 0 15px;
}

@media (min-width: 575.98px) {
    .n-container {
        padding: 0 calc(50% - 270px);
    }
}

@media (min-width: 767.98px) {
    .n-container {
        padding: 0 calc(50% - 360px);
    }
}

@media (min-width: 991.98px) {
    .n-container {
        padding: 0 calc(50% - 480px);
    }
}

@media (min-width: 1199.98px) {
    .n-container {
        padding: 0 calc(50% - 590px);
    }
}

.p-0 {
    padding: 0 !important;
}

.relative {
    position: relative;
}

.text-white {
    color: white;
}

.theme--light.v-application {
    background-color: unset !important;
}

.title {
    color: #345e76 !important;
}
