html {
  cursor: auto;
}

.absolute {
  position: absolute;
}

.align-items-center {
  align-items: center !important;
}

.background-primary {
  background: #007BFF;
}

.background-white {
  background: #FFFFFF;
  color: #343A40;
}

.bottom {
  bottom: 16px;
}

.d-flex {
  display: flex !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.font-roboto-normal-bold {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
}

.font-roboto-normal-normal {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
}

.font-roboto-normal-300 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
}

.font-roboto-normal-400 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.font-roboto-normal-500 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.m-0 {
  margin: 0 !important;
}

.n-container {
  padding: 0 15px;
}

@media (min-width: 575.98px) {
  .n-container {
    padding: 0 calc(50% - 270px);
  }
}
@media (min-width: 767.98px) {
  .n-container {
    padding: 0 calc(50% - 360px);
  }
}
@media (min-width: 991.98px) {
  .n-container {
    padding: 0 calc(50% - 480px);
  }
}
@media (min-width: 1199.98px) {
  .n-container {
    padding: 0 calc(50% - 590px);
  }
}
.p-0 {
  padding: 0 !important;
}

.relative {
  position: relative;
}

.text-white, .background-primary {
  color: white;
}

.theme--light.v-application {
  background-color: unset !important;
}

.title {
  color: #345e76 !important;
}
