.n-card {
    background: #F8F9FA;
    border: 0.2px solid #DFDFDF;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    height: 102px;
    margin: 12.5px 10px;
    padding: 12px 15px;
    text-decoration: none;
    width: 255px;

    &:-webkit-any-link {
        cursor: pointer;
        opacity: 1;
        pointer-events: auto;
    }

    &:not(:-webkit-any-link) {
        cursor: default;
        opacity: 0.4;
        pointer-events: none;
    }
}
