@import "../pages.scss";
@import "../../../../sass/app.scss";

.n-title {
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.75px;
    color: #343A40;
    @extend .font-roboto-normal-bold;
}

.n-subtitle {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.75px;
    color: #6C757D;
    @extend .font-roboto-normal-500;
}
