@import "../../../../sass/app.scss";

.n-title {
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.75px;
    color: #343A40;
    @extend .font-roboto-normal-bold;
}

.n-subtitle {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.75px;
    color: #6C757D;
    @extend .font-roboto-normal-500;
}

.n-cards {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 275px) {
    .n-cards {
        max-width: 275px;
    }
}

@media (min-width: 550px) {
    .n-cards {
        max-width: 550px;
    }
}

@media (min-width: 825px) {
    .n-cards {
        max-width: 825px;
    }
}

@media (min-width: 1100px) {
    .n-cards {
        max-width: 1100px;
    }
}

@media (min-width: 1375px) {
    .n-cards {
        max-width: 1375px;
    }
}

@media (min-width: 1650px) {
    .n-cards {
        max-width: 1650px;
    }
}

@media (min-width: 1925px) {
    .n-cards {
        max-width: 1925px;
    }
}

/*.card-container {
    height: 650px;
    width: 100%;
    overflow: auto;

}

.w-25 {
    width: 50%;
}
.block-secondary {
    background-color: rgba(187, 187, 187, 0.6) !important;
    width: 150px;
}

.rounded-15 {
    border-radius: 50px !important;
}

.font-size {
    font-size: 13px;
}

.test {
    width: 200px;
}

.flex-50 {
    flex-basis: 50%;
}*/

