:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

body, h1, h2, p, ul {
    margin: 0;
    margin-block: 0;
    margin-inline: 0;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus, button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

/*h1 {
    font-size: 3.2em;
    line-height: 1.1;
}*/

ul {
    list-style-type: none;
}

ul {
    padding-inline: 0;
}

.card {
    padding: 2em;
}

#app {
    --header-border-width: 1px;
    --header-height: 60px;
    position: relative;
}

.header {
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    height: var(--header-height, 60px);
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #ffffff;
    border-bottom: var(--header-border-width, 1px) solid #000000;
}

.container {
    box-sizing: border-box;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

.menu-navbar__list {
    display: flex;
    gap: 1rem;
}

.menu-navbar__link {
    font-weight: 500;
    color: #646cff;
    /*text-decoration: inherit;*/
}

.menu-navbar__link:hover {
    color: #535bf2;
}

.home-page {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.banner {
    --banner-bg: transparent;
    --banner-border-color: transparent;
    --banner-color: inherit;
    padding: 1rem;
    color: var(--banner-color, inherit);
    background-color: var(--banner-bg, transparent);
    border: 1px solid var(--banner-border-color, transparent);
    border-radius: 0.375rem;
}

.banner--info {
    --banner-bg: #cff4fc;
    --banner-border-color: #9eeaf9;
    --banner-color: #055160;
}

.banner--warning {
    --banner-bg: #fff3cd;
    --banner-border-color: #ffe69c;
    --banner-color: #664d03;
}

.banner__link {
    font-weight: 700;
    color: var(--banner-color, inherit);
}

.authors__list, .characters__list, .comics__list, .ranges__list {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 16px;
}

.item-authors, .item-characters, .item-comics, .item-ranges {
    --item-hover-bg: #000000;
    position: relative;
    padding: 0.5rem;
    border: 1px solid #000000;
    border-radius: 0.5rem;
}

.item-authors:hover, .item-characters:hover, .item-comics:hover, .item-ranges:hover {
    color: #ffffff;
    background-color: var(--item-hover-bg, #000000);
    border-color: var(--item-hover-bg, #000000);
}

.item-authors__link, .item-characters__link, .item-comics__link, .item-ranges__link { color: inherit; }

.item-authors__link::before, .item-characters__link::before, .item-comics__link::before, .item-ranges__link::before {
    content: "";
    position: absolute;
    inset: 0;
}

.author, .character { --ranges-color: #000000; }

.author__description, .character__description {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
    padding: 0.5rem;
    border: 1px solid #000000;
    border-radius: 0.5rem;
}

.character__description {
    background-image: var(--character-image);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.section-author, .section-character {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.5rem;
}

.section-author__title, .section-character__title {
    font-size: 1rem;
    text-align: right;
}

.section-author__link, .section-character__link {
    position: relative;
    display: inline-block;
    width: max-content;
}

.section-author__link::after, .section-character__link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 1px;
    background-color: var(--ranges-color, #000000);
    transition: all ease .3s;
}

.section-author__link:hover, .section-author__link:focus-visible,
.section-character__link:hover, .section-character__link:focus-visible { color: #ffffff; }

.section-author__link:hover::after, .section-author__link:focus-visible::after,
.section-character__link:hover::after, .section-character__link:focus-visible::after { height: 100%; }

.comics-page, .comic-page { padding: 1rem 0; /* 16px 0 */ }

.comics-page__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 268px);
    justify-content: space-around;
    gap: 1.5rem; /* 24px */
}

.comics-page .comic {
    --comic-width: 16.75rem; /* 268px */
    --comic-height: 25.625rem; /* 410px */
    position: relative;
    z-index: 1;
    width: var(--comic-width);
    height: var(--comic-height);
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 9px 20px 0 rgba(0, 0, 0, 0.25);
    transition: box-shadow 300ms linear;
    overflow: hidden;
    pointer-events: none;
}

.comics-page .comic:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25), 0 9px 20px 0 rgba(0, 0, 0, 0.45);
}

.comics-page .comic:hover > .comic__content {
    transform: rotateY(-25deg);
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.2);
}

.comics-page .comic:before, .comics-page .comic:after {
    content: "";
    position: absolute;
    top: 0;
    z-index: -1;
    display: block;
    width: inherit;
    height: inherit;
    background-color: #ffffff;
    border: 1px solid #d9d9d9;
}

.comics-page .comic:before { left: -3px; }

.comics-page .comic:after { left: -6px; }

.comics-page .comic__content {
    width: inherit;
    height: inherit;
    background-color: hsl(225, 12%, 13%);
    transform-origin: 0 50%;
    transform: rotateY(0);
    transition: all 450ms ease;
}

.comics-page .comic__content::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 2;
    display: inline-block;
    width: inherit;
    height: inherit;
    background-image: var(--comic-image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.comics-page .comic__title {
    padding: 0.25rem; /* 4px */
    font-size: 2.25rem; /* 36px */
    font-weight: 700;
    line-height: 1;
    text-align: center;
    word-break: break-word;
    color: #ffffff;
}

.comics-page .comic__link { pointer-events: auto; }

.comics-page .comic__link::before {
    position: absolute;
    content: "";
    inset: 0;
    z-index: -1;
}

.comic-page .comic {
    --comic-image-width: 23.6875rem; /* 379px */
    --comic-image-height: 36.25rem; /* 580px */
    display: flex;
    gap: 1.5rem; /* 24px */
}

.comic-page .comic::before {
    content: "";
    display: inline-block;
    width: var(--comic-image-width);
    height: var(--comic-image-height);
    background-image: var(--comic-image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.comic-page .comic__content {
    flex: 1 1 0;
}

.comic-page .comic__description {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
    padding: 0.5rem;
    border: 1px solid #000000;
    border-radius: 0.5rem;
}

.comic-page .characters-comic, .comic-page .section-comic {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.5rem;
}

.comic-page .characters-comic__title, .comic-page .section-comic__title { text-align: right; }

.comic-page .characters-comic__list {
    --item-width: 88px;
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--item-width, 88px));
    gap: 22px;
    margin-top: 12px;
}

.comic-page .characters-comic__item, .comic-page .section-comic__item { --border-color: #000000; }

.comic-page .characters-comic__item { position: relative; }

.comic-page .characters-comic__item:hover > .characters-comic__image { border-color: var(--border-color, #000000); }

.comic-page .characters-comic__image {
    box-sizing: border-box;
    width: 100%;
    object-position: top;
    object-fit: cover;
    border: 2px solid #ffffff;
    transition: border-color .3s;
}

.comic-page .characters-comic__link::after {
    content: "";
    position: absolute;
    inset: 0;
}

.comic-page .section-comic__list, .comic-page .section-comic__date { align-self: center; }

.comic-page .section-comic__item {
    position: relative;
}

.comic-page .section-comic__link::before {
    content: "";
    position: absolute;
    inset: 0;
}

.comic-page .section-comic__link:hover, .comic-page .section-comic__link:focus-visible { color: #ffffff; }

.comic-page .section-comic__link:hover::after, .comic-page .section-comic__link:focus-visible::after { height: 100%; }

.comic-page .section-comic__link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 1px;
    background-color: var(--border-color, #000000);
    transition: all ease .3s;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    button { background-color: #f9f9f9; }

    .menu-navbar__link:hover { color: #747bff; }
}

@media (min-width: 640px) {
    .container { max-width: 640px; }

    .authors__list, .ranges__list { grid-template-columns: repeat(2, minmax(0, 1fr)); }

    .characters__list { grid-template-columns: repeat(3, minmax(0, 1fr)); }
}

@media (min-width: 768px) {
    .container { max-width: 768px; }

    .authors__list, .ranges__list { grid-template-columns: repeat(3, minmax(0, 1fr)); }

    .characters__list { grid-template-columns: repeat(4, minmax(0, 1fr)); }
}

@media (min-width: 1024px) {
    .container { max-width: 1024px; }

    .authors__list, .ranges__list { grid-template-columns: repeat(4, minmax(0, 1fr)); }

    .characters__list { grid-template-columns: repeat(5, minmax(0, 1fr)); }

    .comics__list { grid-template-columns: repeat(2, minmax(0, 1fr)); }
}

@media (min-width: 1280px) {
    .container { max-width: 1280px; }

    .authors__list, .ranges__list { grid-template-columns: repeat(5, minmax(0, 1fr)); }

    .characters__list { grid-template-columns: repeat(6, minmax(0, 1fr)); }
}

@media (min-width: 1536px) {
    .container { max-width: 1536px; }

    .authors__list, .ranges__list { grid-template-columns: repeat(6, minmax(0, 1fr)); }

    .characters__list { grid-template-columns: repeat(8, minmax(0, 1fr)); }

    .comics__list { grid-template-columns: repeat(3, minmax(0, 1fr)); }
}
