$no-color: #E0E0E0;
$primary-color: #007BFF;

.n-chip {
    align-items: center;
    cursor: default;
    display: inline-flex;
    max-width: 100%;
    outline: none;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    transition-duration: .28s;
    transition-property: box-shadow, opacity;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    vertical-align: middle;

    &.n-chip--no-color {
        background: $no-color;
        color: black;

        &:-webkit-any-link:hover {
            box-shadow: 0 0 10px $no-color;
        }
    }

    &.primary {
        background: $primary-color;
        color: white;

        &:-webkit-any-link:hover {
            box-shadow: 0 0 10px $primary-color;
        }
    }

    &.white {
        background: white;
        color: #343A40;

        &:-webkit-any-link:hover {
            box-shadow: 0 0 10px white;
        }
    }

    &:-webkit-any-link {
        cursor: pointer;
    }

    & .n-chip__content {
        align-items: center;
        display: inline-flex;
        height: 100%;
        max-width: 100%;
    }
}


